.el-radio-button--mini .el-radio-button__inner {
  padding: 7px 3px !important;
}

.pdc {
  .search-bar {
    margin: 0;
    border: none;
    padding: 10px 10px 0px 20px;
    background: #FFFFFF;
    text-align: left;
  }

  .el-table thead .cell {
    line-height: 24px;
    white-space: nowrap;
  }

  .el-table tbody .cell {
    line-height: 16px;
    white-space: nowrap;
  }

  .el-table--mini td {
    padding: 0;

  }

  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 5px;
  }

  .pageOuter {
    text-align: left;
  }

  .el-textarea__inner {
    height: 48px !important;
  }

  .el-col-24 {
    display: inline-block;
    float: none;
    width: auto;
  }

  .mat {
    display: inline-block;
  }

  .matSon {
    display: inline-block;
  }

  .matInput {
    display: inline-block;
    vertical-align: middle;
  }

  .el-form--label-left .el-form-item__label {
    display: inline-block;
    float: none;
    padding-left: 5px;
  }

  .el-form-item--mini .el-form-item__content {
    display: inline-block;
  }
}

.goods_detail {

  .el-card__body,
  .el-card__header {
    padding: 10px;
  }
}