
label {
  font-size: 11px !important;
  font-weight: 500;
}
.purchase-box {
  margin: 0px;
  padding: 0px;
  background: white;
  display: block;
  width:100%;
}
.optionWidth {
  width: 100%;
}
.btx {
  float: left;
  color: red;
  font-size: 16px;
  margin: 5px -20px 0px 0px;
}
.btn {
  margin-left: 15%;
}
.option-code {
  margin-left:6%;
  color: #8492a6;
}
.option-name {
  margin-left:20%;
  color: #8492a6;
}
.option-show-code {
  float: left;
  font-size: 13px;
}
.option-show-name {
  float: left;
  padding-left:20px;
  font-size: 13px;
}