label {
  font-size: 11px !important;
  font-weight: 500;
}
.purchase-add {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  background: white;
  display: block;
  width:100%;
}
.btx {
  float: left;
  color: red;
  font-size: 16px;
  margin: 5px -20px 0px 0px;
}
.upload-box {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 0 20px 35px;
  .upload-box-left {
    float: left;
    margin-left: 2%;
  }
  .upload-box-right {
    float: left;
    margin-left: 30%;
  }
}
.auto-btn {
  margin-left: 32%;
}
.tips {
  color: red;
}
.sub-btn {
  float:right;
  margin: 20px 200px 0px 0px;
}
.add-code {
  color: #8492a6;
  margin-left: 6%;
}
.add-name {
  margin-left: 10%;
  color: #8492a6;
}
.add-show-code {
  float: left;
  font-size: 13px;
  width: 40px;
}
.add-show-name {
  float: left;
  padding-left:6%;
  font-size: 13px;
  width: 300px;
}
.add-show-season {
  margin-left: 12%;
}
.add-ware-code {
  float: left;
  font-size: 13px;
  width: 100px;
}
.add-ware-name {
  float: left;
  padding-left:4%;
  font-size: 13px;
  width: 350px;
}
.add-brand-name {
  float: left;
  padding-left:6%;
  font-size: 13px;
  width: 350px;
}
.supp-name {
  margin-left: 15%;
  color: #8492a6;
}
.add-supp-name {
  float: left;
  padding-left: 12%;
  font-size: 13px;
  width: 350px;
}
.warehouse-code {
  margin-top:20px;
}
.rules {
  margin-top: 30px;
}
.warehouse-btn {
  margin-top:20px;
  text-align: center;
}
.has-set {
  color: red;
}
.auto-action {
  margin-left: 62%;
  margin-bottom: 15px;
}
.tips-text {
  line-height: 20px;
}
.tips-button {
  text-align: center;
  margin-top: 30px;
}