label {
  font-size: 11px !important;
  font-weight: 500;
}
.purchase-detail {
  margin: 0px;
  padding: 10px 0 0 10px;
  background: white;
  display: block;
  width:100%;
}
.major {
  color: red;
}
.detail-box {
  margin-bottom: 20px;
}
.detail-btn {
  font-size: 12px;
}
.info {
  font-size: 12px;
}
.detail-list {
  margin-left: -10px;
}