@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@699;700&display=swap");
:root {
    --lower: 100;
    --upper: 700;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* background: #70c9db; */
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 7rem;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%) translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%));
    transform: translate(-50%, -50%) translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%));
    font-variation-settings: 'wght' var(--lower);
    margin: 0;
    /* color: black; */
}

h1 span {
    color: hsla(180, 100%, 90%, var(--alpha-l));
    -webkit-animation: rise 2.25s infinite ease-in-out;
    animation: rise 2.25s infinite ease-in-out;
    -webkit-animation-delay: calc((var(--index) - 6) * 0.225s);
    animation-delay: calc((var(--index) - 6) * 0.225s);
    display: inline-block;
}

@-webkit-keyframes rise {
    50% {
        font-variation-settings: 'wght' var(--upper);
        color: hsla(180, 100%, 100%, var(--alpha-u));
        -webkit-transform: translate(0, -15%);
        transform: translate(0, -15%);
    }
}

@keyframes rise {
    50% {
        font-variation-settings: 'wght' var(--upper);
        color: hsla(180, 100%, 100%, var(--alpha-u));
        -webkit-transform: translate(0, -15%);
        transform: translate(0, -15%);
    }
}