.B2BOrderBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}
.B2BReturnBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}
.ODSOrderBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}
.ODSReceiveBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}
.OMSOrderBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}
.OMSReceiveBox{
    .el-form-item__label{
        font-weight: 500;
        font-size: 12px;
    } 
}