.ODS-searchbar {
    /* margin: 10px 0; */
    padding-right: 10px;
    background: #FFFFFF;
    /* border: 1px solid #cccccc; */
    /* padding: 20px 20px 0px 20px; */
    /* box-shadow: 0 3px 10px rgba(46, 8, 8, 0.1); */
  }
    .tc{
      text-align: center;
      margin-bottom: 10px;
    }
    .pt {
      position: absolute;
      top: -100px;
    }
   .checkClass {
      display:inline-block;
      width:30px;
      overflow: hidden
   }
    .el-select-dropdown.is-multiple .el-select-dropdown__item.selected:after {
    content: ''
   }
   .changafter::after {
      content: '...';
      color: #000;
      position: absolute;
      left: 83%;
      top: 5px;
      z-index: 999
    }
    .flexBox {
     display: flex;
     flex-wrap: wrap;
     padding: 5px 0;
   }
   .flexBoxItem {
     padding-left: 5px;
     height: 30px;
   }
   .cpbtn{
      padding: 5px 9px;
      margin-left:5px;
    }
   .search-bar-col{
    height: 30px;
  }
  .spanClass{
    display:inline-block;
    width:20% !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
 }
 .spanClass1{
    display:inline-block;
    width:45% !important;
    white-space: nowrap;
    margin: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden
 }
  .spanClass2{
    display:inline-block;
    width:15% !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
 }
  .spanClass12{
    display:inline-block;
    width:60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
 }
 .spanClass4{
  display:inline-block;
  width:30%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
.flex {
  display: flex;
}
.option {
  max-width: 500px
}
.content {
  height: 200px;
  overflow: auto;
}
.el-icon-error {
  float: right;
}
.checkbox {
  width: 220px;
}